<ion-view title="News_Page" id="page8">
    <ion-content padding="true" class="has-header">
        <h1 id="news_Page-heading2" style="color:#000000;">通知标题</h1>
        <div id="news_Page-markdown5" style="color:#000000;">
            <h3>副标题</h3>
        </div>
        <div class="spacer" style="width: 300px; height: 31px;"></div>
        <div id="news_Page-button-bar2" class=" button-bar "></div>
        <div id="news_Page-markdown6" style="color:#000000;">
            <p>正文</p>
        </div>
    </ion-content>
</ion-view>