<ion-view title="通知公告" id="page2">
    <ion-content padding="true" class="has-header">
        <ion-list id="page2-list7">
            <ion-item class="item-avatar item-icon-right  " id="page2-list-item30" ui-sref="tabsController.news_Page">
                <h2>通知公告1</h2>
                <p>副标题1</p>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="page2-list-item11">
                <h2>Item</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="page2-list-item31">
                <h2>Item</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="page2-list-item32">
                <h2>Item</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="page2-list-item33">
                <h2>Item</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="page2-list-item34">
                <h2>Item</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="page2-list-item35">
                <h2>Item</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>