<ion-view title="Page" id="page11">
    <ion-content padding="true" class="has-header">
        <h1 id="page-heading3" style="color:#000000;text-align:center;">Heading</h1>
        <div>
            <p>
                Add some
                <b>HTML</b>for
                <u>flavor</u>
            </p>
            <div class="speaker"></div>

            <audio id="player">
                <source src="http://sifidesign.com/audio/explosion.mp3" type="audio/mp3">
                    <source src="http://sifidesign.com/audio/explosion.ogg" type="audio/ogg">
            </audio>
        </div>
    </ion-content>
</ion-view>